<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>

    <title>Socket io</title>
</head>
<body>
    <p>Welcome to socket.io</p>

    <input type="text" class="message">
    <button onclick="sendMessage()">Send Message</button>

    <h5></h5>
    <script>
        const socket = io('http://localhost:3000/')
        socket.on('connection')

        socket.on('message', (data) => {

            document.querySelector('h5').innerHTML = data
        })

        const sendMessage = () => {
            const messageInput = document.querySelector('.message')
            const message = messageInput.value
            socket.emit('message', message)
        }
    </script>
</body>
</html>